.signupCard {
    width: 35%;
    margin: 3em auto;
    background-color: rgb(35, 35, 35);
    padding: 2em;
    border-radius: 1em;
    position: relative;
    z-index: 87;
    border: 3px solid #46d0ce;
}

.textDanger {
    color: red
}

.formInput {
    padding: 0.25em;
    font-size: large;
    color: black;
}

.mb3 {
    display: flex;
    flex-direction: column;
    color: #46d0ce;
}

.mb3 label {
    font-size: large;
    padding: 0.75em 1.25em 0 0;
}

.mb3 input {
    height: 3em;
    border-radius: 0.5em;
}

.button {
    background-color: #46d0ce;
    color: rgb(35, 35, 35);
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: large;
    cursor: pointer;
    margin: 1em 0;
    width: 100%;
    margin-top: 2em;
}

.signupForm h1 {
    color: #46d0ce;
    font-size: x-large;
    margin: auto;
}

.radioInput {
    color: #46d0ce;
}

.privacyContainer {
    display: flex;
    flex-direction: column;
}

.formLabel {
    font-size: large;
    padding: 0.75em 1.25em 0 0;
}

.privacySingleRadio {
    color: red;
}

.outerContainer {
    padding-bottom: 3em;
}