.postWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 65%;
    margin: 3 auto;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.post {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 30em;
    background-color: rgb(35, 35, 35);
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3em;
    z-index: 99;
    border: solid 5px #63bdf5;
    border-radius: 1em;
    transition: all .2s ease-in-out;
}

.post:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
    transform: scale(1.2);
}

.post h1 {
    color:#63bdf5;
    height: 5%;
    font-size: x-large;
}

.post h3 {
    color:#63bdf5;
    height: 5%;
    width: 100%;
    padding: 0 0.5em;
    justify-content: right;
    display: flex;
}

.drawingContainer {
    width: 100%;
    height: 90%;
}