.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #46d0ce;
    font-size: 25px;
    padding: 30px 90px 0 90px;
    letter-spacing: 6px;
    background-color: rgb(35, 35, 35);;
    z-index: 1;
    position: sticky;
}

.headerRight {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.headerHref {
    padding-bottom: 1em;
}

.headerHref:hover {
    text-decoration: underline;
}